/* opmaak.css */

/* Navigation */
.nav {
    padding: 10px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}


/* Main Content */
main {
    margin-top: 20px;
}

article,
section {
    margin-bottom: 20px;
    padding: 10px;
}

/* Grid Layout */
.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Flexbox Layout */
.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
}
